In [15]:
import requests
import pandas as pd
from sqlalchemy import create_engine
import csv
import numpy as np

In [25]:
#reads in the csv
csv_file = "../data/GDP_by_Year.csv"
directory_db = pd.read_csv(csv_file)

directory_db

,Unnamed: 0,Country Name,Country Code,Year,Value,ioc,myCNames
0,2306,Afghanistan,AFG,1960.0,5.377778e+08,AFG,Afghanistan
1,2307,Afghanistan,AFG,1961.0,5.488889e+08,AFG,Afghanistan
2,2308,Afghanistan,AFG,1962.0,5.466667e+08,AFG,Afghanistan
3,2309,Afghanistan,AFG,1963.0,7.511112e+08,AFG,Afghanistan
4,2310,Afghanistan,AFG,1964.0,8.000000e+08,AFG,Afghanistan
...,...,...,...,...,...,...,...
6450,11743,Zimbabwe,ZWE,2012.0,1.424249e+10,ZIM,Zimbabwe
6451,11744,Zimbabwe,ZWE,2013.0,1.545177e+10,ZIM,Zimbabwe
6452,11745,Zimbabwe,ZWE,2014.0,1.589105e+10,ZIM,Zimbabwe
6453,11746,Zimbabwe,ZWE,2015.0,1.630467e+10,ZIM,Zimbabwe
6454,11747,Zimbabwe,ZWE,2016.0,1.661996e+10,ZIM,Zimbabwe

In [31]:
#reads in the csv
csv_file = "../data/country_medals.csv"
directory_db2 = pd.read_csv(csv_file)

directory_db2

      Year Country           Name  Season  Medals_Won
0     1896     AUS      Australia  Summer           3
1     1896     AUT        Austria  Summer           5
2     1896     DEN        Denmark  Summer           6
3     1896     FRA         France  Summer          11
4     1896     GBR  Great Britain  Summer           9
...    ...     ...            ...     ...         ...
1651  2016     UKR        Ukraine  Summer          15
1652  2016     USA  United States  Summer         264
1653  2016     UZB     Uzbekistan  Summer          13
1654  2016     VEN      Venezuela  Summer           3
1655  2016     VIE        Vietnam  Summer           2

[1656 rows x 5 columns]

In [37]:
directory_db2.rename(columns={'Country':'Country Name'},inplace=True)
directory_db2.me

      Year Country Name           Name  Season  Medals_Won
0     1896          AUS      Australia  Summer           3
1     1896          AUT        Austria  Summer           5
2     1896          DEN        Denmark  Summer           6
3     1896          FRA         France  Summer          11
4     1896          GBR  Great Britain  Summer           9
...    ...          ...            ...     ...         ...
1651  2016          UKR        Ukraine  Summer          15
1652  2016          USA  United States  Summer         264
1653  2016          UZB     Uzbekistan  Summer          13
1654  2016          VEN      Venezuela  Summer           3
1655  2016          VIE        Vietnam  Summer           2

[1656 rows x 5 columns]

In [38]:
directory_db.merge(directory_db2, how="left", left_on=['Country Name','Year'])

TypeError: object of type 'NoneType' has no len()

In [33]:
#groups country by Country and Year
country_medal_db=directory_db.groupby(['Country','Year']).count()
country_medal_db=country_medal_db[['Medal']]
country_medal_db.reset_index(inplace=True)

#rearranges by year
country_medal_db.sort_values('Year', ascending=True,inplace=True)
country_medal_db.set_index(['Year','Country'],inplace=True)


country_medal_db

KeyError: 'Country'

In [22]:
#calculates Medal accumalitve sum - though I didn't end up using it
country_medal_db['Medal_Sum'] = country_medal_db.groupby('Country').cumsum()
country_medal_db

              Medal  Medal_Sum
Year Country
1896 AUT          5          5
     GBR          7          7
     GER         33         33
     DEN          6          6
     GRE         52         52
...             ...        ...
2012 GAB          1          1
     FRA         82       1396
     RUS        130        768
     GER         94       1305
     QAT          2          4

[1157 rows x 2 columns]

In [21]:
#exports csv
country_medal_db.to_csv('../Data/summer_country_medals.csv',index=True)