In [1]:
import pandas as pd
import csv

In [2]:
dict_df = pd.read_csv("dictionary.csv")
dict_df.head()

           Country  NOC  Population  GDP_per_Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [3]:
cou_df = pd.read_csv("countries.csv")
cou_df.head()

   Unnamed: 0  NOC  Medal
0           0  AFG      2
1           1  AHO      1
2           2  ALG     15
3           3  ANZ     29
4           4  ARG    259

In [4]:
merged_df = pd.merge(dict_df, cou_df, on="NOC")
merged_df.head()

       Country  NOC  Population  GDP_per_Capita  Unnamed: 0  Medal
0  Afghanistan  AFG  32526562.0      594.323081           0      2
1      Algeria  ALG  39666519.0     4206.031232           2     15
2    Argentina  ARG  43416755.0    13431.878340           4    259
3      Armenia  ARM   3017712.0     3489.127690           5     11
4    Australia  AUS  23781169.0    56310.962990           6   1189

In [5]:
del merged_df['Unnamed: 0']
merged_df.head()

       Country  NOC  Population  GDP_per_Capita  Medal
0  Afghanistan  AFG  32526562.0      594.323081      2
1      Algeria  ALG  39666519.0     4206.031232     15
2    Argentina  ARG  43416755.0    13431.878340    259
3      Armenia  ARM   3017712.0     3489.127690     11
4    Australia  AUS  23781169.0    56310.962990   1189

In [6]:
merged_df.count()

Country           129
NOC               129
Population        126
GDP_per_Capita    118
Medal             129
dtype: int64

In [10]:
cleaned = merged_df.dropna(how='any')
cleaned.head()
cleaned.count()

Country           118
NOC               118
Population        118
GDP_per_Capita    118
Medal             118
dtype: int64

In [11]:
cleaned.to_csv("cleaned.csv")